<% include _header2 %>


<h3>Sign up</h3>
<br>
<form action="/signup" method="post">
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <br>
    <input name="password" type="text" class="form-control" placeholder="Password" required>
    <br>
    <input type="submit" value="Sign up" class="btn btn-primary btn-block">
</form>

<% include _footer %>

